// COLORS
$color-white-c4: #C4C4C4;
$color-white-ea: #EAEAEA;
$color-white-e: #ECECEC;
$color-white-c: #FCFCFC;
$color-white: #FFFFFF;
$color-black-76: #767676;
$color-black-50: #505050;
$color-black-25: #252525;
$color-black-20: #202020;
$color-red: #AB0433;

// CONTAINER
$width-container: 1304px;
$p-container: 20px;

// FONTS
$ff-ws: 'Work Sans', sans-serif;
$ff-ms: 'Montserrat', sans-serif;
$f-style-normal: normal;
$f-weight-700: 700;
$f-weight-600: 600;
$f-weight-500: 500;
$f-weight-400: 400;