.footer {
    background-color: $color-black-50;
    background: linear-gradient(0deg, rgba(37, 37, 37, 1) 10%, rgba(80, 80, 80, 1) 10%);
    padding: 70px 0 75px;

    &__box {
        @include row;
        justify-content: space-between;
    }
}

.footer__box {
    @include row;
    justify-content: space-between;
}

.footer__box-list {
    @include row;
    column-gap: 50px
}

.footer__box-item {
    &::before {
        content: '';
        display: block;
        border: 3px solid $color-white;
        width: 58px;
        margin-bottom: 10px
    }
}

.footer__list {
    @include row;
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
}

.footer__item {
    font-style: normal;
    font-weight: $f-weight-700;
    font-size: 14px;
    line-height: 130%;
    color: $color-white;
}

.footer__link {
    font-style: normal;
    font-weight: $f-weight-400;
    font-size: 14px;
    line-height: 130%;
    color: $color-white;
}



.footer__social-list {
    @include row;
    column-gap: 10px;
    justify-content: end;
}


.footer__social-item {

    &:hover .fa-brands {
        opacity: 0.8;
    }
}

.fa-brands {
    color: $color-white;
    font-size: 22px;
}

.footer__bottom-text {
    font-family: $ff-ms;
    font-style: normal;
    font-weight: $f-weight-400;
    font-size: 12.8px;
    line-height: 140%;
    color: $color-white;
    transform: translate(0px, 88px);

}